
body {
  background-color: #eceed3;
    

h1{
    font-size:xx-large;
}

p{
  text-align: center;
}

.presentation {
    display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

.presentation > div {
  text-align: center;
}

#joinroom {
  background-color: #f44336;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  margin: -10px auto 0;
  transform: translate(12px, -14px);
  box-shadow: 0 9px #921a1a;
  border: #b41919;

}

#titre {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#rule{
  margin: 20px 0 0 0;
  font-style: italic ;
  font-size: large;
     
}

#therules {
  list-style-position: inside;
  padding: 0;
  display: block;
  text-align: center;
  margin: 10px auto;
  width: 80%;
  max-width: 700px;
}

#therules li {
  margin: 8px 0;
  list-style-position: inside;
}

#TheDevs{
  font-size: small;
}

#Logo{
  border: 4px solid #FFD700;
  background-color: #ffffff;
  border-radius: 4px;
  width: 150px;
  display: block;
  margin: 10px auto;
}
