
body {
    background-color: #eceed3;
    
}

h1{
    font-size:xx-large;
}

p{
  text-align: center;
}

.presentation {
    display: flex;
  justify-content: center;
  margin: 45px 0 0 0;
}

#joinroom {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  margin: 5px 0 0 310px;
  box-shadow: 0 9px #921a1a;
  border: #b41919;
  
}

#titre {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#rule{
  margin: 20px 0 0 0;
  font-style: italic ;
  font-size: large;
     
}

#TheDevs{
  font-size: small;
}

#Logo{
  border: 4px solid #FFD700;
  background-color: #ffffff;
  border-radius: 4px;
  width: 150px;
  margin-left: 310px;
}
